body {
    font-family: 'Noto Sans JP', sans-serif;
}

.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
}

nav {
    height: 60px;
}

footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    position: fixed;
}

.image-wrapper {
    margin-bottom: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.custom-img {
    max-height: 300px;
    object-fit: cover; 
    display: block;
    margin: 0 auto;
}

